extends ../layout 

block content

    a(href="/restaurantes") Volver

    br

    br

    br

    hi Nuevo restaurante
    
    br 

    br 

    form(action="/restaurantes/create" method="post")

        label(for="id") ID: 

        input#id(type="text" name="id")

        br

        br

        br

        label(for="nombre") Nombre: 

        input#nombre(type="text" name="nombre")

        br

        br

        br

        label(for="horario") Horario: 

        input#horario(type="text" name="horario" )

        br

        br
        
        br

        label(for="tipocomida") Tipo de comida: 

        input#tipocomida(type="text" name="tipocomida" )

        br

        br
        
        br

        label(for="telefono") Teléfono: 

        input#telefono(type="text" name="telefono" )

        br

        br
        
        br

        label(for="latitud") Latitud: 

        input#latitud(type="text" name="latitud" )

        br

        br

        br

        label(for="longitud") Longitud: 

        input#longitud(type="text" name="longitud" )

        br

        br

        input.btn(type="submit" value ="OK")