extends ../layout 

block content   

    a(href="/restaurantes/create") Nuevo restaurante

    br

    br

    table.table

        thead   
            tr
                th(scope='col') #
                
                th(scope='col') Nombre

                th(scope='col') Horario

                th(scope='col') Tipo de comida

                th(scope='col') Teléfono

                th(scope='col') Ubicación

        tbody

            each restaurante in restaurantes

                tr  

                    td(scope='row')= restaurante.id
                
                    td= restaurante.nombre

                    td= restaurante.horario

                    td= restaurante.tipocomida

                    td= restaurante.telefono

                    td= restaurante.ubicacion

                    td

                        form.inline(method="post" action="restaurantes/" + restaurante.id + '/delete')

                            input(type="hidden" name="id" value=restaurante.id)

                            button.link-button(type='submit' class='btn')

                                ='Eliminar'

                        form.inline(method="get" action="restaurantes/" + restaurante.id + '/update')

                            input(type="hidden" name="id" value=restaurante.id)

                            button.link-button(type='submit' class='btn')

                                ='Actualizar'
                    