extends ../layout 

block content

    a(href="/restaurantes") Volver

    br

    br

    br

    h1 Modificando restaurante

    br 

    br

    form(action=`/restaurantes/${restaurante.id}/update` method="post")

        label(for="id") ID: 

        input#id(type="text" name="id" value=restaurante.id)

        br

        br

        br

        label(for="nombre") Nombre: 

        input#nombre(type="text" name="nombre" value=restaurante.nombre)

        br

        br

        br

        label(for="horario") Horario: 

        input#horario(type="text" name="horario" value=restaurante.horario)

        br

        br
        
        br

        label(for="tipocomida") Tipo de comida: 

        input#tipocomida(type="text" name="tipocomida" value=restaurante.tipocomida)

        br

        br
        
        br

        label(for="telefono") Teléfono: 

        input#telefono(type="text" name="telefono" value=restaurante.telefono)

        br

        br
        
        br

        label(for="latitud") Latitud: 

        input#latitud(type="text" name="latitud" value=restaurante.ubicacion[0])

        br

        br

        br

        label(for="longitud") Longitud: 

        input#longitud(type="text" name="longitud" value=restaurante.ubicacion[1])

        br

        br

        input.btn(type="submit" value ="OK")