extends layout

block content

  nav#mainNav.navbar.navbar-expand-lg.bg-secondary.text-uppercase.fixed-top
    .container
      a.navbar-brand.js-scroll-trigger(href='#page-top') NOT WITHOUT MY TABLE
      button.navbar-toggler.navbar-toggler-right.text-uppercase.font-weight-bold.bg-primary.text-white.rounded(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        | Menu
        i.fas.fa-bars
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item.mx-0.mx-lg-1
            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='#projects') Consulta nuestros restaurantes. 
          li.nav-item.mx-0.mx-lg-1
            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='/restaurantes') Gestión de restaurantes.
          li.nav-item.mx-0.mx-lg-1
            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='/usuarios') Gestión de usuarios. 
  // Masthead
  header.masthead.bg-primary.text-white.text-center
    .container.d-flex.align-items-center.flex-column
      // Masthead Avatar Image
      img.masthead-avatar.mb-5(src='assets/img/avataaars.svg' alt='')
      // Masthead Heading
      h1.masthead-heading.text-uppercase.mb-0 NOT WITHOUT MY TABLE
      // Icon Divider
      .divider-custom.divider-light
        .divider-custom-line
        .divider-custom-icon
          i.fas.fa-star
        .divider-custom-line
      // Masthead Subheading
      p.masthead-subheading.font-weight-light.mb-0 Con nuestra aplicación podrás reservar mesa en restaurantes ubicados por toda su ciudad. Se acabó perder la oportunidad de disfrutar de una gran ocasión por no tener reserva. 
  // Portfolio Section
  section#projects.projects-section.bg-light
    .container
      #main_map
  // About Section
  section#about.page-section.bg-primary.text-white.mb-0
    .container
      // About Section Heading
      h2.page-section-heading.text-center.text-uppercase.text-white Más sobre nosotros
      // Icon Divider
      .divider-custom.divider-light
        .divider-custom-line
        .divider-custom-icon
          i.fas.fa-star
        .divider-custom-line
      // About Section Content
      .row
        .col-lg-4.ml-auto
          p.lead
            | Nuestra aplicación es de uso 100% gratuito por parte de los clientes de los restaurantes. 
            | Podrás reservar mesa siempre, con unos pocos clicks y aportando tan solo los datos mínimos necesarios. 
            | Los restaurantes podrán ver tus reservas al segundo y ponerse en contacto contigo en caso de necesidad. 
        .col-lg-4.mr-auto
          p.lead
            | Como restaurante tendrás la oportunidad de aumentar la visibilidad de tu negocio. 
            | Además el servicio que prestamos basa su tarifa en el número de reservas realizadas. Solo pagarás si todo funciona. 
  // Contact Section
  section#contact.page-section
    .container
      // Contact Section Heading
      h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 Contacta con nosotros:
      // Icon Divider
      .divider-custom
        .divider-custom-line
        .divider-custom-icon
          i.fas.fa-star
        .divider-custom-line
      // Contact Section Form
      .row
        .col-lg-8.mx-auto
          // To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.
          form#contactForm(name='sentMessage' novalidate='novalidate')
            .control-group
              .form-group.floating-label-form-group.controls.mb-0.pb-2
                label Nombre
                input#name.form-control(type='text' placeholder='Nombre' required='required' data-validation-required-message='Please enter your name.')
                p.help-block.text-danger
            .control-group
              .form-group.floating-label-form-group.controls.mb-0.pb-2
                label Email
                input#email.form-control(type='email' placeholder='Email' required='required' data-validation-required-message='Please enter your email address.')
                p.help-block.text-danger
            .control-group
              .form-group.floating-label-form-group.controls.mb-0.pb-2
                label Teléfono
                input#phone.form-control(type='tel' placeholder='Teléfono' required='required' data-validation-required-message='Please enter your phone number.')
                p.help-block.text-danger
            .control-group
              .form-group.floating-label-form-group.controls.mb-0.pb-2
                label Mensaje
                textarea#message.form-control(rows='5' placeholder='Mensaje' required='required' data-validation-required-message='Please enter a message.')
                p.help-block.text-danger
            br
            #success
            .form-group
              button#sendMessageButton.btn.btn-primary.btn-xl(type='submit') Enviar
  // Footer
  footer.footer.text-center
    .container
      .row
        // Footer Location
        .col-lg-4.mb-5.mb-lg-0
          h4.text-uppercase.mb-4 Localización
          p.lead.mb-0
            | Calle falsa 123.
            br
            |                         Edificio Patrañas, Puerta Z. 
        // Footer Social Icons
        .col-lg-4.mb-5.mb-lg-0
          h4.text-uppercase.mb-4 Síguenos en las redes sociales. 
          a.btn.btn-outline-light.btn-social.mx-1(href='#!')
            i.fab.fa-fw.fa-facebook-f
          a.btn.btn-outline-light.btn-social.mx-1(href='#!')
            i.fab.fa-fw.fa-twitter
          a.btn.btn-outline-light.btn-social.mx-1(href='#!')
            i.fab.fa-fw.fa-linkedin-in
          a.btn.btn-outline-light.btn-social.mx-1(href='#!')
            i.fab.fa-fw.fa-dribbble
        // Footer About Text
        .col-lg-4
          h4.text-uppercase.mb-4 Agradecimientos por la plantilla a: 
          p.lead.mb-0
            | Freelance is a free to use, MIT licensed Bootstrap theme created by 
            a(href='http://startbootstrap.com') Start Bootstrap
            |                         .
  // Copyright Section
  .copyright.py-4.text-center.text-white
    .container
      small Copyright &copy; Your Website 2020
  // Scroll to Top Button (Only visible on small and extra-small screen sizes)
  .scroll-to-top.d-lg-none.position-fixed
    a.js-scroll-trigger.d-block.text-center.text-white.rounded(href='#page-top')
      i.fa.fa-chevron-up
  
  // Bootstrap core JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')
  // Third party plugin JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
  // Contact form JS
  script(src='assets/mail/jqBootstrapValidation.js')
  script(src='assets/mail/contact_me.js')
  // Core theme JS
  script(src='js/scripts.js')
  script(src='js/map.js')